/* ScReLo - https://github.com/thomas-fab/screlo */

/* Div mère #relecture_box et messages d'erreur */

#relecture_box {
    position: fixed;
    width: 280px;
    bottom: 10px;
    right: 30px;
    background: #FFF;
    color: #C00;
    border: 1px solid #CCC;
    padding: 10px;
    z-index: 200;
}
#relecture_box li, ul.screlo-relecture li {
    border-radius: 4px;
    padding: 6px 12px;
    margin: 6px 0;
    color: #FFF;
    background-color: #333;
    border: 1px solid transparent;
}

/* Inspecteur de styles */

#class_inspector {
    background-color: #FFF;
    border: 2px solid #000;
    padding: 6px;
    margin-bottom: 6px;
    color: #000;
    min-height: 18px;
}

/* Input d'acces rapide et barre de raccourcis */

#acces_rapide {
    clear: none;
    float: left;
    font-size: 14px;
    margin: 5px 0 0;
}
#acces_rapide #id_acces {
    background: #DFDFDF;
    border: none;
    margin-right: 10px;
    padding: 3px;
    width: 50px;
}
#relecture_buttons {
    background-color: transparent;
    border: none;
    padding: 6px;
    margin-bottom: 6px;
    color: #000;
    text-align: right;
}
#relecture_buttons a {
    opacity: .7;
    margin-left: 6px;
}
#relecture_buttons a:hover,
#relecture_buttons a:focus {
    opacity: 1;
}

/* Marqueurs */

span.screlo-marqueur {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 11px;
    display: inline;
    background-color: #aaa;
    color: white;
    padding: 3px;
    border-radius: 4px;   
}

/* Niveaux d'erreurs */

#relecture_box li.danger, ul.screlo-relecture li.danger, span.screlo-marqueur.danger {
    background-color: #d2322d;
    border-color: #ac2925;
}
#relecture_box li.warning, ul.screlo-relecture li.warning, span.screlo-marqueur.warning {
    background-color: #ed9c28;
    border-color: #d58512;
}

#relecture_box span.count.danger {
	color: #D2322D;
}

#relecture_box span.count.warning {
	color: #ED9C28;
}

/* Repérer le nom de famille de l'auteur */

span.familyName {
    border: 3px green solid;
}

/* Colorer les liens pour une meilleure lisibilité */

#main p a[href]:not(.footnotecall):not(.FootnoteSymbol) {
    background-color: lightblue;
}

/* Niveau des headers explicite */

#text h1.texte:before,
#toc .tocSection1:before,
#text h2.texte:before,
#toc .tocSection2:before,
#text h3.texte:before,
#toc .tocSection3:before,
#text h4.texte:before,
#toc .tocSection4:before,
#text h5.texte:before,
#toc .tocSection5:before,
#text h6.texte:before,
#toc .tocSection6:before,
#text h7.texte:before,
#toc .tocSection7:before,
#text h8.texte:before,
#toc .tocSection8:before,
#text h9.texte:before,
#toc .tocSection9:before {
    background-color: #000;
    color: #FFF;
    margin-right: 10px;
    padding: 0 4px;
}

#text h1.texte:before,
#toc .tocSection1:before {
    content: "h1";
}
#text h2.texte:before,
#toc .tocSection2:before {
    content: "h2";
}
#text h3.texte:before,
#toc .tocSection3:before {
    content: "h3";
}
#text h4.texte:before,
#toc .tocSection4:before {
    content: "h4";
}
#text h5.texte:before,
#toc .tocSection5:before {
    content: "h5";
}
#text h6.texte:before,
#toc .tocSection6:before {
    content: "h6";
}
#text h7.texte:before,
#toc .tocSection7:before {
    content: "h7";
}
#text h8.texte:before,
#toc .tocSection8:before {
    content: "h8";
}
#text h9.texte:before,
#toc .tocSection9:before {
    content: "h9";
}

/* Debug de stylage */
.TODO{
    background:#FF9DF9;
    cursor:help
}
.FIXME{
    color:red;
    background:#FF8
}

/* Alertes Symbol */
span.symbolalert {background-color: orange;}