/* ScReLo - https://github.com/thomas-fab/screlo */

/* Principal */

#screlo-main {
    width: auto;
    max-width: 320px;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1000;
}

ul#screlo-tests {
    padding: 0;
    margin: 0;
    max-width: 280px;
}

#screlo-tests li, ul.screlo-relecture li {
    font-family: Arial, Verdana, serif;
    font-size: 14px;
    list-style-type: none;
    display: block;
    padding: 10px 40px 10px 10px;
    margin: 6px;
    background: #eee;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;
    position: relative;
    color: #fff;
}

#screlo-tests li span, ul.screlo-relecture li span {
    border-radius: 10px;
    padding: 2px 6px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11px;
    border: 1px solid #FFF;
}

ul.screlo-relecture {
    display: block;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

#main.complete ul.screlo-relecture {
    opacity: 1;
    height: auto;
}


/* Toolbar */

#screlo-toolbar {
    width: auto;
    height: 34px;
    padding: 5px 10px;
    border-radius: 4px 4px 0 0;
    background: #333;
    border-top: #000;
    color: #FFFFFF;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#screlo-toolbar button, #screlo-toolbar a {
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    display: inline-block;
    text-indent: -9999px;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background: #000;
    border:none;
    border-radius: 30px;
    cursor: pointer;
    transition: background linear .2s;
    float: left;
    clear: none;
    display: none;
}

body.textes #screlo-toolbar a[data-screlo-button="edit"], body.publications #screlo-toolbar a[data-screlo-button="edit"] {
    background: url("http://localhost/screlo/svg/quill.svg") no-repeat center;
    display: block;
}

body.textes #screlo-toolbar a[data-screlo-button="download"] {
    background: url("http://localhost/screlo/svg/download.svg") no-repeat center;
    display: block;
}

body.textes #screlo-toolbar a[data-screlo-button="upload"] {
    background: url("http://localhost/screlo/svg/upload.svg") no-repeat center;
    display: block;
}

#screlo-toolbar a[data-screlo-button="info"] {
    background: url("http://localhost/screlo/svg/info.svg") no-repeat center;
    display: block;
}

body.publications #screlo-toolbar a[data-screlo-button="ajax"] {
    background: url("http://localhost/screlo/svg/rocket.svg") no-repeat center;
    display: block;
}

#form-acces-rapide {
    display: inline;
}

#screlo-toolbar #acces-rapide {
    border: 2px solid #FFF;
    border-radius: 4px;
    background-color: #333;
    color: #FFF;
    width: 40px;
    font-size: 12px;
    padding: 4px 6px;
    font-family: verdana, sans-serif;
    cursor: pointer;
    text-align: center;
    float: right;
    clear: none;
    margin-top: 3px;
}

#screlo-toolbar a:hover, #screlo-toolbar a:focus, #screlo-toolbar #acces-rapide:hover {
    background-color: #000 !important;
    color: #FFF;
}

#screlo-toolbar #acces-rapide:focus {
    border:2px solid #111;
    background-color: #fff !important;
    color: #000;
    cursor: text;
    text-align: left;
}

/* Marqueurs */

span.screlo-marqueur {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 11px;
    display: inline;
    background-color: #aaa;
    color: white;
    padding: 3px;
    border-radius: 4px;   
}

/* Niveaux d'erreurs */

span.screlo-marqueur.warning, ul#screlo-tests li.warning, ul.screlo-relecture li.warning {
    background : #ed9c28;
}

span.screlo-marqueur.danger, ul#screlo-tests li.danger, ul.screlo-relecture li.danger {
    background:  #d2322d;
}

span.screlo-marqueur.succes, ul#screlo-tests li.succes, ul.screlo-relecture li.succes {
    background: #7ABD18;
}

span.screlo-marqueur.print, ul#screlo-tests li.print, ul.screlo-relecture li.print {
    background: #9b55dd;
}

/* Repérer le nom de famille de l'auteur */

span.familyName {
    border-bottom: 3px black solid;
}

/* Colorer les liens pour une meilleure lisibilité */

#main p a[href]:not(.footnotecall):not(.FootnoteSymbol) {
    background-color: lightblue;
}

/* Niveau des headers explicite */

#text h1.texte:before,
#toc .tocSection1:before,
#text h2.texte:before,
#toc .tocSection2:before,
#text h3.texte:before,
#toc .tocSection3:before,
#text h4.texte:before,
#toc .tocSection4:before,
#text h5.texte:before,
#toc .tocSection5:before,
#text h6.texte:before,
#toc .tocSection6:before,
#text h7.texte:before,
#toc .tocSection7:before,
#text h8.texte:before,
#toc .tocSection8:before,
#text h9.texte:before,
#toc .tocSection9:before {
    background-color: #000;
    color: #FFF;
    margin-right: 10px;
    padding: 0 4px;
}

#text h1.texte:before,
#toc .tocSection1:before {
    content: "h1";
}
#text h2.texte:before,
#toc .tocSection2:before {
    content: "h2";
}
#text h3.texte:before,
#toc .tocSection3:before {
    content: "h3";
}
#text h4.texte:before,
#toc .tocSection4:before {
    content: "h4";
}
#text h5.texte:before,
#toc .tocSection5:before {
    content: "h5";
}
#text h6.texte:before,
#toc .tocSection6:before {
    content: "h6";
}
#text h7.texte:before,
#toc .tocSection7:before {
    content: "h7";
}
#text h8.texte:before,
#toc .tocSection8:before {
    content: "h8";
}
#text h9.texte:before,
#toc .tocSection9:before {
    content: "h9";
}

/* Debug de stylage */
.TODO{
    background:#FF9DF9;
    cursor:help
}
.FIXME{
    color:red;
    background:#FF8
}

/* Alertes Symbol */
span.symbolalert {background-color: orange;}

/* Loading */

#screlo-loading {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: black url("http://guide3d.belle-etoile.lu/web/Loading.gif") no-repeat center center;
    z-index:10001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

body.loading  #screlo-loading {
    display: block;
}

/* Correct navEntities */
.navEntities a.corrected {
    box-shadow: 0 0 10px #7abd18 inset;
}